$color-primary: #1490FF;
$color-warning: #E08330;
$color-success: #09BB07;
$color-danger: #E02020;
$background-color: #00152A;
$menu-background-color: #072148;
$menu-item: #000E1D;
$menu-title-hover: #00233F;
$content-background-color: #F9F9FB;
$content-text-color: #0C1231;
$opacity: 0.3;
$worning-level-1:#F14865;
$worning-level-2:#FF9900;
$worning-level-3:#FEDB69;
$worning-level-4:#FFFFCC;
$worning-level-5:#F1F2F6;
$mortgage-type:#F7B500;

